.cmp-art-banner {
    width: 90%;
    margin: 4rem auto;
    background-color: var(--clr-secondary);
    border-radius: 0.4rem;
    transition: var(--transition-default);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.cmp-art-banner:hover, .cmp-art-banner:focus {
    cursor: pointer;
    filter: brightness(0.85);
    scale: 1.005;
    box-shadow: 0 1.5rem 2rem 0 rgba(0, 0, 0, 0.5);
}

.cmp-art-banner__top-container {
    display: flex;
    gap: 2.4rem;
}

.cmp-art-banner__thumbnail {
    width: 25rem;
    border-top-left-radius: 0.4rem;
    align-self: start;
}

.cmp-art-banner__content-wrap {
    padding: 2.4rem 2.4rem 1.2rem 0;

}
