.cpm-banner-content__tag-container {
    margin-top: 1.2rem;
}

.cpm-banner-content__title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--clr-gray-200);
}

.cpm-banner-content__description {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    color: var(--clr-gray-300);
}