.cmp-text-input {
    font-size: 1.6rem;
    margin-top: 3.2rem;
    position: relative;
}

.cmp-text-input__input {
    background-color: var(--clr-secondary);
    border-bottom: var(--clr-tertiary) solid 2px;
    border-radius: 0.25rem;
    color: inherit;
    padding: 0.8rem 0.6rem;
    transition: var(--transition-default);
    width: 100%;
}

.cmp-text-input__input--focused {
    background-color: rgba(21, 128, 61, 0.15);
    border-bottom: var(--clr-green-dark) solid 2px;
}

.cmp-text-input__input--error {
    background-color: rgba(185, 28, 28, 0.15);
    border-bottom: var(--clr-red-dark) solid 2px;
}

.cmp-text-input__label {
    color: var(--clr-tertiary);
    position: absolute;
    text-wrap: nowrap;
    top: 50%;
    transform: translate(0.6rem, -50%);
    transition: var(--transition-default);
}

.cmp-text-input__label--focused {
    font-size: 1.4rem;
    transform: translate(0.1rem, -225%);
}

.cmp-text-input__label--error, .cmp-textarea__label--error {
    color: var(--clr-red-dark);
}