.cmp-stats-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2.4rem;
    background-color: var(--clr-secondary-light);
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.cmp-stats-banner__stats-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cmp-stats-banner__date-wrap,
.cmp-stats-banner__icon-wrap {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    background-color: var(--clr-secondary);
}

.cmp-stats-banner__icon {
    font-size: 2rem;
    fill: var(--clr-gray-400);
}

.cmp-stats-banner__date-date,
.cmp-stats-banner__stat-count {
    font-size: 1.6rem;
    color: var(--clr-gray-400);
}

.cmp-stats-banner__date-date {
    text-wrap: nowrap;
}

@media (max-width: 680px) {

    .cmp-stats-banner {
        justify-content: center;
    }
}

@media (max-width: 530px) {

    .cmp-stats-banner__date-wrap {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--clr-secondary-dark);
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
    }

    .cmp-stats-banner__date-date {
        font-size: 1.6rem;
        font-weight: 600;
    }
}