.cmp-gallery-page {
    width: 90%;
    margin: 2.4rem auto;
}

.cmp-gallery-page_banner {
    margin: 1.6rem 0;
    padding: 0 2.4rem;
    display: flex;
    gap: 2.4rem
}

.cmp-gallery-page__thumbnail-img {
    min-width: 30rem;
    min-height: 45rem;
    max-width: 30rem;
    max-height: 45rem;
    border-radius: 0.4rem;
    box-shadow: 0 1rem 2rem 0.2rem rgba(19, 19, 23, 0.5);
}

.cmp-gallery-page__banner-content-wrap {
    width: 100%;
}

.cmp-gallery-page__title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10rem;
    color: var(--clr-gray-200);
}

.cmp-gallery-page__description-wrap {
    margin-top: 1.6rem;
}

.cmp-gallery-page__tag-container {
}