.cmp-login__container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;
}

.cmp-login {
  background-color: var(--clr-secondary);

  max-width: 90rem;
  width: 100%;
  min-height: 50rem;
  margin: 0 1.6rem;
  position: relative;

  border-radius: 0.75rem;

  box-shadow: var(--shadow-default);
  transition: var(--transition-default);
}

.cmp-login.sign-up-mode {
  max-width: 120rem;
}

.cmp-login__sign-in-wrap, .cmp-login__sign-up-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);

  width: 50%;
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
}

.cmp-login__sign-in-wrap {
  transition: left 0.3s, width 0.3s, opacity 0.05s ease-in-out 0.06s;
}

.cmp-login__sign-up-wrap {
  transition: left 0.3s, width 0.3s, opacity 0.01s ease-in-out 0.11s;
}

.cmp-login.sign-up-mode .cmp-login__sign-in-wrap,
.cmp-login.sign-up-mode .cmp-login__sign-up-wrap {
  left: 0;
  width: 62.5%;
}

.cmp-login.sign-up-mode .cmp-login__sign-in-wrap {
  opacity: 0;
  pointer-events: none;
}

.cmp-login.sign-up-mode .cmp-login__sign-up-wrap {
  opacity: 1;
  pointer-events: auto;
}

.cmp-login .cmp-login__sign-up-wrap {
  opacity: 0;
  pointer-events: none;
}

.cmp-login__quote-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3.2rem;
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  background-color: var(--clr-green-dark);
  transition: var(--transition-default);
  z-index: 1;
}

.cmp-login.sign-up-mode .cmp-login__quote-wrap {
  left: 62.5%;
  width: 37.5%;
  border-radius: 0 0.75rem 0.75rem 0;
}

.cmp-login__btn-wrap {
  display: flex;
  justify-content: center;
  margin: 4rem 0 3.2rem 0;
}

.cmp-login__button {
  background-color: var(--clr-green);
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  justify-self: center;
  transition: var(--transition-default);
  letter-spacing: 1.4px;
}

.cmp-login__button:hover {
  background-color: var(--clr-green-dark);
}

.cmp-login__header {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1.2px;
}

.cmp-login__info {
  text-align: center;
  font-size: 1.4rem;
  margin: 2rem 0;
}

.cmp-login__sign-in-form {
  width: 100%;
}

.cmp-login__quote {
  font-size: 3rem;
  line-height: 1.5;
}

.cmp-login__author {
  font-size: 1.8rem;
  margin-top: 2.4rem;
  text-align: end;
}

.cmp-login__sign-up:link, .cmp-login__sign-up:visited {
  text-decoration: none;
  color: var(--clr-green);
  transition: var(--transition-default);
}

.cmp-login__sign-up:hover, .cmp-login__sign-up:focus {
  color: var(--clr-green-dark);
}

.cmp-login__input-wrap {
  display: flex;
  gap: 3.2rem;
}
.cmp-login__input-col {
  flex-grow: 1;
}

.artField {
  width: 100%;
  padding: 0.8rem 0.6rem;
  border-radius: 0.25rem;
  background-color: var(--clr-secondary);
  color: var(--clr-tertiary);
  border-bottom: var(--clr-tertiary) solid 2px;
  font-size: 1.6rem;
  margin-top: 3rem;
}